@import "imports/vars.scss";
@import "imports/mixins.scss";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
html,
body {
    font-family: 'Roboto', sans-serif;
}

.design-image {
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
  img {
    width: 100%;
    height: 100%;
  }
}

.main-title {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  color: #1f1f1f;
  margin-bottom: 74px;
  text-transform: uppercase;
  @media (max-width: $md) {
    text-align: center;
    margin-bottom: 45px;
    font-size: 22px;
  }
}
.section-title {
  font-family: 'Source Sans Pro';
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: $text;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &::after {
    content: '';
    width: 73px;
    height: 8px;
    background-color: #305993;
    position: relative;
    bottom: -21px;
    left: 0;
  }
  @media (max-width: $lg) {
    font-size: 24px;
    &::after {
      width: 53px;
      height: 5px;
    }
  }
}

//Back to top
#button {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #1e467f;
  position: fixed;
  bottom: 50px;
  right: 15px;
  z-index: 9997;
  cursor: pointer;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  img {
    width: 20px;
    transform: rotate(180deg);
  }
  @media (max-width: $md) {
    width: 40px;
    height: 40px;
    img {
      width: 15px;
    }
  }
}
#button.show-button {
  opacity: 1;
  visibility: visible;
}

.show {
  left: 0!important;
}
.hide {
  left: -100%;
}

//Adaptive
.adaptive {
  display: none;
  @media (max-width: $md) {
    display: block;
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 9999;
    height: 400px;
    padding: 17px 12px 12px 12px;
    left: -100%;
    transition: 0.5s;
    .adaptive-all {
      display: flex;
      flex-direction: column;
      &__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .adaptive-title {
          font-size: 23px;
          line-height: 36px;
          font-weight: 500;
          color: $text;
        }
        img {
          cursor: pointer;
          width: 30px;
        }
      }
      &__list {
        display: flex;
        flex-direction: column;
        row-gap: 7px;
        li {
          a {
            font-size: 16px;
            line-height: 36px;
            font-weight: 400;
            color: $text;
          }
          a.active {
            color: $hovertext;
          }
          a.active-link {
            color: $hovertext;
          }
        }
      }
    }
  }
}

main {
  margin-top: 115px;
  @media (min-width: 768px) and (max-width: $xl) {
    margin-top: 85px;
  }
  @media (max-width: $md) {
    margin-top: 70px;
  }
}

//Header
.header {
  padding: 11px 0 14px 0;
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.07);
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 9998;
  .container {
    .header-all {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__burger {
        display: none;
      }
      &__logo {
        a {
          display: flex;
          align-items: center;
          img.logo-two {
            margin-left: 27px;
          }
        }
      }
      &__nav {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        ul {
          display: grid;
          column-gap: 45px;
          grid-template-columns: repeat(6, max-content);
          li {
            a {
              font-size: 16px;
              line-height: 38px;
              font-weight: 400;
              color: $text;
              &:hover {
                color: $hovertext;
              }
            }
            a.active {
              color: $hovertext;
            }
            a.active-link {
              color: $hovertext;
            }
          }
        }
      }
      &__lang {
        margin-left: 51px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 72px;
        height: 36px;
        background: linear-gradient(to right, #305993 65%, #1e467f 35%);
        box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.24);
        border-radius: 3px;
        padding-right: 3.5px;
        cursor: pointer;
        select {
          background: transparent;
          border: 0;
          outline: none;
          width: 100%;
          height: 100%;
          cursor: pointer;
          font-size: 16px;
          line-height: 38px;
          font-weight: 700;
          color: #fff;
          padding-left: 10px;
          option {
            color: #000;
          }
        }
      }
    }
  }
  @media (min-width: 1281px) and (max-width: 1599px) {
    .container {
      padding: 0 25px;
      .header-all {
        &__nav {
          ul {
            column-gap: 30px;
            li {
              a {
                font-size: 15px;
                line-height: 38px;
              }
            }
          }
        }
      }
    }
  }
  @media (min-width: 1025px) and (max-width: $xl) {
    .container {
      .header-all {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__logo {
          a {
            img {
              width: 60px;
            }
            img.logo-two {
              margin-left: 15px;
              width: 150px;
            }
          }
        }
        &__nav {
          ul {
            column-gap: 25px;
            li {
              a {
                font-size: 14px;
                line-height: 36px;
              }
            }
          }
        }
        &__lang {
          margin-left: 30px;
          width: 58px;
          height: 30px;
          background: linear-gradient(to right, #305993 60%, #1e467f 40%);
          select {
            font-size: 14px;
            font-weight: 500;
            padding-left: 6px;
          }
        }
      }
    }
  }
  @media (min-width: 768px) and (max-width: $lg) {
    .container {
      .header-all {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__logo {
          a {
            img {
              width: 60px;
            }
            img.logo-two {
              display: none;
            }
          }
        }
        &__nav {
          ul {
            column-gap: 15px;
            li {
              a {
                font-size: 12px;
                line-height: 32px;
              }
            }
          }
        }
        &__lang {
          margin-left: 30px;
          width: 58px;
          height: 30px;
          background: linear-gradient(to right, #305993 60%, #1e467f 40%);
          select {
            font-size: 14px;
            font-weight: 500;
            padding-left: 6px;
          }
        }
      }
    }
  }
  @media (max-width: $md) {
    .container {
      .header-all {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__burger {
          display: block;
          width: 58px;
          cursor: pointer;
          img {
            width: 26px;
          }
        }
        &__logo {
          a {
            img {
              width: 45px;
            }
            img.logo-two {
              display: none;
            }
          }
        }
        &__nav {
          display: none;
        }
        &__lang {
          margin-left: 0;
          width: 58px;
          height: 30px;
          background: linear-gradient(to right, #305993 60%, #1e467f 40%);
          select {
            font-size: 14px;
            font-weight: 500;
            padding-left: 6px;
          }
        }
      }
    }
  }
}

//Templates
.templates {
  margin: 93px 0 80px;
  .container {
    .templates-all {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      &__item {
        position: relative;
        &:hover {
          .item-back {
            img {
              transform: scale(1.3);
            }
          }
        }
        &:nth-child(1) {
          .item-top {
            img {
              width: 50px;
            }
          }
        }
        &:nth-child(2) {
          .item-top {
            img {
              width: 56px;
            }
          }
        }
        &:nth-child(3) {
          .item-top {
            img {
              width: 50px;
            }
          }
        }
        &:nth-child(4) {
          .item-top {
            img {
              width: 63px;
            }
          }
        }
        .item-top {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fff;
          width: 130px;
          height: 130px;
          border-radius: 50%;
          position: absolute;
          left: 50%;
          bottom: 100%;
          transform: translate(-50%, 50%);
          z-index: 2;
        }
        .item-back {
          overflow: hidden;
          img {
            transition: 1s;
          }
        }
        .item-caption {
          display: flex;
          flex-direction: column;
          h1 {
            margin: 0;
            font-size: 26px;
            line-height: 38px;
            font-weight: 700;
            color: #ffffff;
            position: absolute;
            left: 25px;
            bottom: 1%;
            text-transform: uppercase;
          }
          .back-one {
            width: 293px;
            height: 74px;
            background-color: #ffffff;
            box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.2);
            position: relative;
            position: absolute;
            bottom: 0;
            left: 16px;
            &::after {
              content: '';
              position: absolute;
              width: 0;
              height: 100%;
              background: transparent;
              right: -20px;
              border: 20px solid transparent;
              border-top: 74px solid white;
            }
          }
          .back-two {
            width: 290px;
            height: 74px;
            background-color: $text;
            position: absolute;
            bottom: -2.5%;
            &::after {
              content: '';
              position: absolute;
              width: 0;
              height: 100%;
              background: transparent;
              right: -20px;
              border: 20px solid transparent;
              border-top: 74px solid $text;
            }
          }
        }
      }
    }
  }
  @media (min-width: 1281px) and (max-width: 1599px) {
    .container {
      padding: 0 25px;
      .templates-all {
        &__item {
          &:nth-child(1) {
            .item-top {
              img {
                width: 35px;
              }
            }
          }
          &:nth-child(2) {
            .item-top {
              img {
                width: 39px;
              }
            }
          }
          &:nth-child(3) {
            .item-top {
              img {
                width: 35px;
              }
            }
          }
          &:nth-child(4) {
            .item-top {
              img {
                width: 43px;
              }
            }
          }
          .item-top {
            width: 90px;
            height: 90px;
          }
          .item-caption {
            h1 {
              font-size: 20px;
              line-height: 30px;
            }
            .back-one {
              width: 251px;
              height: 61px;
              left: 13px;
              &::after {
                border-top: 61px solid white;
              }
            }
            .back-two {
              width: 250px;
              height: 61px;
              &::after {
                border-top: 61px solid $text;
              }
            }
          }
        }
      }
    }
  }
  @media (min-width: 768px) and (max-width: $xl) {
    margin: 48px 0 64px;
    .container {
      .templates-all {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 35px;
        place-items: center;
        row-gap: 58px;
        &__item {
          &:nth-child(1) {
            .item-top {
              img {
                width: 35px;
              }
            }
          }
          &:nth-child(2) {
            .item-top {
              img {
                width: 39px;
              }
            }
          }
          &:nth-child(3) {
            .item-top {
              img {
                width: 35px;
              }
            }
          }
          &:nth-child(4) {
            .item-top {
              img {
                width: 43px;
              }
            }
          }
          .item-top {
            width: 90px;
            height: 90px;
          }
          .item-caption {
            h1 {
              font-size: 20px;
              line-height: 30px;
            }
            .back-one {
              width: 251px;
              height: 61px;
              left: 13px;
              &::after {
                border-top: 61px solid white;
              }
            }
            .back-two {
              width: 250px;
              height: 61px;
              &::after {
                border-top: 61px solid $text;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: $md) {
    margin: 48px 0 64px;
    .container {
      .templates-all {
        flex-direction: column;
        row-gap: 58px;
        align-items: center;
        &__item {
          &:nth-child(1) {
            .item-top {
              img {
                width: 35px;
              }
            }
          }
          &:nth-child(2) {
            .item-top {
              img {
                width: 39px;
              }
            }
          }
          &:nth-child(3) {
            .item-top {
              img {
                width: 35px;
              }
            }
          }
          &:nth-child(4) {
            .item-top {
              img {
                width: 43px;
              }
            }
          }
          .item-top {
            width: 90px;
            height: 90px;
          }
          .item-caption {
            h1 {
              font-size: 20px;
              line-height: 30px;
            }
            .back-one {
              width: 251px;
              height: 61px;
              left: 13px;
              &::after {
                border-top: 61px solid white;
              }
            }
            .back-two {
              width: 250px;
              height: 61px;
              &::after {
                border-top: 61px solid $text;
              }
            }
          }
        }
      }
    }
  }
}

//Footer
.footer {
  &-all {
    display: flex;
    flex-direction: column;
    &__top {
      background-image: url(../img/footer.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left;
      height: 272px;
      display: flex;
      align-items: center;
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .top-contact {
          display: flex;
          flex-direction: column;
          &__item {
            display: flex;
            align-items: center;
            img {
              width: 16px;
            }
            a {
              font-size: 18px;
              line-height: 38px;
              font-weight: 500;
              margin-left: 16px;
              color: $text;
              &:hover {
                color: $hovertext;
              }
            }
          }
        }
        .top-nav {
          ul {
            display: grid;
            column-gap: 44px;
            grid-template-columns: repeat(5, max-content);
            li {
              a {
                font-size: 16px;
                line-height: 38px;
                font-weight: 400;
                color: $text;
                &:hover {
                  color: $hovertext;
                }
              }
              a.active {
                color: $hovertext;
              }
            }
          }
        }
      }
    }
    &__bottom {
      padding: 17px 0;
      background-color: $text;
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p.left {
          font-size: 14px;
          line-height: 38px;
          font-weight: 400;
          color: #ffffff;
        }
        .right {
          display: flex;
          align-items: center;
          p {
            font-size: 12px;
            line-height: 33px;
            font-weight: 400;
            text-transform: uppercase;
            color: #bec5d0;
          }
          img {
            margin-left: 8px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  @media (min-width: 1281px) and (max-width: 1599px) {
    &-all {
      &__top {
        height: 232px;
        .container {
          padding: 0 25px;
          .top-nav {
            ul {
              grid-template-columns: repeat(5, max-content);
            }
          }
        }
      }
      &__bottom {
        .container {
          padding: 0 25px;
        }
      }
    }
  }
  @media (min-width: 768px) and (max-width: $xl) {
    .footer-all {
      &__top {
        height: 230px;
        .container {
          flex-wrap: wrap;
          justify-content: space-around;
          height: 100%;
          padding: 25px;
          .top-nav {
            width: 100%;
            display: flex;
            justify-content: center;
            ul {
              grid-template-columns: repeat(5, max-content);
            }
          }
        }
      }
    }
  }
  @media (max-width: $md) {
    .footer-all {
      &__top {
        background-image: none;
        background-color: #f3f3f3;
        height: 272px;
        .container {
          flex-direction: column;
          padding: 38px 20px;
          height: 100%;
          .top-contact {
            align-items: center;
            &__item {
              display: flex;
              align-items: center;
              img {
                width: 14px;
              }
              a {
                font-size: 16px;
                line-height: 34px;
                margin-left: 11px;
              }
            }
          }
          .top-nav {
            ul {
              display: flex;
              flex-wrap: wrap;
              column-gap: 25px;
              justify-content: center;
              li {
                &:last-child {
                  a {
                    &::after {
                      display: none;
                    }
                  }
                }
                a {
                  font-size: 14px;
                  line-height: 36px;
                  position: relative;
                  display: flex;
                  align-items: center;
                  &::after {
                    content: '';
                    background-color: #305993;
                    height: 17px;
                    width: 1px;
                    position: absolute;
                    right: -13px;
                  }
                }
              }
            }
          }
        }
      }
      &__bottom {
        .container {
          p.left {
            font-size: 12px;
          }
          .right {
            p {
              font-size: 11px;
            }
            img {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}