.adaptive
  .adaptive-all
    .adaptive-all__main
      h1.adaptive-title МЕНЮ
      img.close-adaptive(src="img/close.svg", alt="")
    ul.adaptive-all__list
      li
        a.active-link(href="/") ГОЛОВНА
      li
        a(href="/engineering.html") ПРОЕКТНІ РОБОТИ
      li
        a(href="/yachts.html") ЯХТИ
      li
        a(href="/tents.html") ТЕНТИ І ЧОХЛИ
      li
        a(href="/aviation.html") АВІАЦІЯ
      li
        a(href="/contacts.html") КОНТАКТИ