footer.footer
  .footer-all
    .footer-all__top
      .container
        .top-logo
          a(href="/")
            img(src="img/logo-two.png", alt="")
        .top-contact
          .top-contact__item
            img(src="img/phone.svg", alt="")
            a(href="tel:+ 380504032936") + 38 050 403 29 36
          .top-contact__item
            img(src="img/email.svg", alt="")
            a(href="mailto:office_osnova_2000@ukr.net") office_osnova_2000@ukr.net
        .top-nav
          ul
            li
              a(href="/engineering.html") ПРОЕКТНІ РОБОТИ
            li
              a(href="/yachts.html") ЯХТИ
            li
              a(href="/tents.html") ТЕНТИ І ЧОХЛИ
            li
              a(href="/aviation.html") АВІАЦІЯ
            li
              a(href="/contacts.html") КОНТАКТИ
    .footer-all__bottom
      .container
        p.left © 2022 OSNOVA - 2000
        .right
          p Розробка сайту
          img(src="img/dev.png", alt="")