header.header
  .container
    .header-all
      .header-all__burger
        img(src="img/menu.svg", alt="")
      .header-all__logo
        a(href="/")
          img(src="img/logo.png", alt="")
          img.logo-two(src="img/logo-two.png", alt="")
      nav.header-all__nav
        ul
          li
            a.active-link(href="/") ГОЛОВНА
          li
            a(href="/engineering.html") ПРОЕКТНІ РОБОТИ
          li
            a(href="/yachts.html") ЯХТИ
          li
            a(href="/tents.html") ТЕНТИ І ЧОХЛИ
          li
            a(href="/aviation.html") АВІАЦІЯ
          li
            a(href="/contacts.html") КОНТАКТИ
      .header-all__lang
        select
          option(value="ua", selected="selected") UA
          option(value="en") EN
