header.header
  .container
    .header-all
      .header-all__logo
        a(href="#")
          img(src="img/logo.png", alt="")
          img.logo-two(src="img/logo-two.png", alt="")
      nav.header-all__nav
        ul
          li
            a.active(href="#") ГОЛОВНА
          li
            a(href="#") ПРОЕКТНІ РОБОТИ
          li
            a(href="#") ЯХТИ
          li
            a(href="#") ТЕНТИ І ЧОХЛИ
          li
            a(href="#") АВІАЦІЯ
          li
            a(href="#") КОНТАКТИ
      .header-all__lang
        select
          option(value="ua", selected="selected") UA
          option(value="en") EN
