doctype html
html(lang='en')
    include includes/head
    link(rel='stylesheet', href='css/aviation.min.css')
    body
        .all
            include includes/header

            include includes/adaptive

            main
              //Aviation
              section.aviation
                .container
                  .aviation-all
                    h1.main-title АВІАЦІЯ
                    .aviation-all__projects
                      .design-image
                        img(src="img/aviation_1.jpg", alt="")
                      .block
                        .block-item
                          h1.block-title ІНЖИНІРИНГ
                          ul
                            li Проектування модульних конструкцій
                            li Проектування елементів авіаційних інтер'єрів
                            li Проектування авіаційних меблів
                            li Виконання розрахунків на міцність
                            li Розробка та оформлення технічної документації
                        .block-item
                          h1.block-title ВИРОБНИЦТВО
                          ul
                            li Виготовлення модульних конструкцій
                            li Виготовлення елементів авіаційних інтер'єрів
                            li Виготовлення авіаційних меблів
                            li Виготовлення облицювальних панелей з стільниковим заповнювачем
                      .certificates
                        .certificates-item
                          img(src="img/aviation_2.jpg", alt="")
                        .certificates-item
                          img(src="img/aviation_3.jpg", alt="")
                    .planes
                      h1.section-title Ан 72/74
                      .planes-images
                        img(src="img/aviation_4.jpg", alt="")
                        img(src="img/aviation_5.jpg", alt="")
                    .aviation-all__gallery
                      img(src="img/aviation_6.jpg", alt="")
                      img(src="img/aviation_7.jpg", alt="")
                      img(src="img/aviation_8.jpg", alt="")
                      img(src="img/aviation_9.jpg", alt="")
                      img(src="img/aviation_10.jpg", alt="")
                      img(src="img/aviation_11.jpg", alt="")
                      img(src="img/aviation_12.jpg", alt="")
                      img(src="img/aviation_13.jpg", alt="")

              //Plane-two
              section.plane-two
                .container
                  .plane-two__all
                    .planes
                      h1.section-title Ан 26
                      .planes-images
                        img(src="img/aviation_14.jpg", alt="")
                        img(src="img/aviation_15.jpg", alt="")
                    .gallery
                      img(src="img/aviation_16.jpg", alt="")
                      img(src="img/aviation_17.jpg", alt="")
                      img(src="img/aviation_18.jpg", alt="")
                      img(src="img/aviation_19.jpg", alt="")

              //Plane-three
              section.plane-three
                .container
                  .plane-three__all
                    .planes
                      h1.section-title Л - 410
                      .planes-images
                        img(src="img/aviation_20.jpg", alt="")
                        img(src="img/aviation_21.jpg", alt="")
                    .gallery
                      img(src="img/aviation_22.jpg", alt="")
                      img(src="img/aviation_23.jpg", alt="")
                      img(src="img/aviation_24.jpg", alt="")

              //Plane-four
              section.plane-four
                .container
                  .plane-four__all
                    .planes
                      h1.section-title мі - 8
                      .planes-images
                        img(src="img/aviation_25.jpg", alt="")
                        img(src="img/aviation_26.jpg", alt="")
                    .gallery
                      img(src="img/aviation_27.jpg", alt="")
                      img(src="img/aviation_28.jpg", alt="")
                      img(src="img/aviation_29.jpg", alt="")
                      img(src="img/aviation_30.jpg", alt="")

              //Plane-five
              section.plane-five
                .container
                  .plane-five__all
                    .planes
                      h1.section-title ru mas 240
                      .planes-images
                        img(src="img/aviation_31.jpg", alt="")
                        img(src="img/aviation_32.jpg", alt="")
                    .gallery
                      img(src="img/aviation_33.jpg", alt="")
                      img(src="img/aviation_34.jpg", alt="")
                      img(src="img/aviation_35.jpg", alt="")

              //Materials
              section.materials
                .container
                  .materials-all
                    h1.section-title матеріали
                    .materials-all__gallery
                      img(src="img/aviation_36.jpg", alt="")
                      img(src="img/aviation_37.jpg", alt="")
                      img(src="img/aviation_38.jpg", alt="")
                      img(src="img/aviation_39.jpg", alt="")
                      img(src="img/aviation_40.jpg", alt="")
                      img(src="img/aviation_41.jpg", alt="")


            include includes/footer

        include includes/scripts
        script(src="js/activelink.js")