doctype html
html(lang='en')
    include includes/head
    link(rel='stylesheet', href='css/engineering.min.css')
    body
        .all
            include includes/header

            include includes/adaptive

            main
              //Projects
              section.projects
                .container
                  .projects-all
                    h1.main-title ПРОЕКТНІ РОБОТИ
                    .projects-all__about
                      .about-certificate
                        img(src="img/project-1.jpg", alt="")
                      .about-item
                        .about-item__caption
                          img(src="img/project-2.png", alt="")
                          h2 ДИЗАЙН
                        .about-item__list
                          ul
                            li Концептуальний дизайн
                            li Технічний дизайн
                            li Розробка мультимедійних презентацій
                            li Розробка дизайн-проектів приміщень
                      .about-item
                        .about-item__caption
                          img(src="img/project-3.png", alt="")
                          h2 ІНЖИНІРИНГ
                        .about-item__list
                          ul
                            li Розробка 3D моделей за кресленнями Замовника
                            li Розробка 3D моделей нових виробів
                            li Проектування компонентів авіаційних інтер'єрів
                            li Проектування елементів інтер'єрів для морських суден
                            li Виконання аналізу загальної міцності конструкції
                            li Виконання аналізу місцевої міцності
                            li Розробка конструкторської документації
                            li Розробка експлуатаційно-технічної документації
                            li Розробка оснастки для термовакуумного формування
                            li Розробка технологічного оснащення для збирання
                            li Розробка NC програм (керуючих програм) для НП
                    .projects-all__design
                      h1.section-title Концептуальний <br> дизайн
                      .design-image
                        img(src="img/project-5.png", alt="")
                      .design-image
                        img(src="img/project-4.png", alt="")

              //Technics
              section.technics
                .container
                  .technics-all
                    .technics-all__design
                      .design-image
                        img(src="img/technics-1.jpg", alt="")
                      .design-image
                        img(src="img/technics-2.png", alt="")
                      h1.section-title Технічний <br> дизайн

              //Technics-two
              section.technics-two
                .container
                  .technics-all
                    .technics-all__design
                      h1.section-title Розробка <br> мультимедійних <br> презентацій
                      .design-image
                        img(src="img/multi-1.jpg", alt="")
                      .design-image
                        img(src="img/multi-2.jpg", alt="")

              //Technics-three
              section.technics-three
                .container
                  .technics-all
                    .technics-all__design
                      .design-image
                        img(src="img/project-6.jpg", alt="")
                      .design-image
                        img(src="img/project-7.jpg", alt="")
                      h1.section-title Розробка 3D моделей <br> за кресленнями <br> Замовника

              //Technics-four
              section.technics-four
                .container
                  .technics-all
                    .technics-all__design
                      h1.section-title Розробка <br> 3D моделей <br> нових виробів
                      .design-image
                        img(src="img/project-8.jpg", alt="")
                      .design-image
                        img(src="img/project-9.jpg", alt="")

              //Technics-five
              section.technics-five
                .container
                  .technics-all
                    .technics-all__design
                      .design-image
                        img(src="img/project-10.jpg", alt="")
                      .design-image
                        img(src="img/project-11.jpg", alt="")
                      h1.section-title Проектування <br> компонентів <br> авіаційних <br> інтер'єрів

              //Technics-six
              section.technics-six
                .container
                  .technics-all
                    .technics-all__design
                      h1.section-title Проектування <br> елементів інтер'єрів <br> для морських суден
                      .design-image
                        img(src="img/project-12.jpg", alt="")
                      .design-image
                        img(src="img/project-13.jpg", alt="")

              //Technics-seven
              section.technics-seven
                .container
                  .technics-all
                    .technics-all__design
                      .design-image
                        img(src="img/project-14.jpg", alt="")
                      .design-image
                        img(src="img/project-15.jpg", alt="")
                      h1.section-title Виконання аналізу <br> загальної міцності <br> конструкції

              //Technics-eight
              section.technics-eight
                .container
                  .technics-all
                    .technics-all__design
                      h1.section-title Виконання аналізу <br> місцевої міцності
                      .design-wrapper
                        .design-image
                          img(src="img/project-16.jpg", alt="")
                        .design-image
                          img(src="img/project-17.jpg", alt="")
                        .design-image
                          img(src="img/project-18.jpg", alt="")

              //Technics-nine
              section.technics-nine
                .container
                  .technics-all
                    .technics-all__design
                      .design-image
                        img(src="img/project-19.jpg", alt="")
                      .design-image.image-absolute
                        img(src="img/project-20.jpg", alt="")
                      h1.section-title Розробка <br> конструкторської <br> документації

              //Technics-ten
              section.technics-ten
                .container
                  .technics-all
                    .technics-all__design
                      h1.section-title Розробка <br> експлуатаційно- <br> технічної <br> документації
                      .design-wrapper
                        .design-image.image-absolute-one
                          img(src="img/project-21.jpg", alt="")
                        .design-image.image-absolute-two
                          img(src="img/project-22.jpg", alt="")
                        .design-image
                          img(src="img/project-23.jpg", alt="")
                        .design-image.image-absolute-three
                          img(src="img/project-24.jpg", alt="")

              //Technics-eleven
              section.technics-eleven
                .container
                  .technics-all
                    .technics-all__design
                      .design-images
                        .design-images__wrapper
                          img(src="img/project-25.jpg", alt="")
                          img(src="img/project-26.jpg", alt="")
                        .design-images__wrapper
                          img(src="img/project-27.jpg", alt="")
                          img(src="img/project-28.jpg", alt="")
                      h1.section-title Розробка оснастки <br> для термовакуумного <br> формування

              //Projects-two
              section.projects-two
                .container
                  .projects-all
                    .projects-all__design
                      h1.section-title Розробка <br> технологічного <br> оснащення <br> для збирання
                      .image-absolute
                        img(src="img/project-29.jpg", alt="")
                      .design-wrapper
                        .design-image
                          img(src="img/project-30.jpg", alt="")
                        .design-image
                          img(src="img/project-31.jpg", alt="")
                        .design-image
                          img(src="img/project-32.jpg", alt="")
                        .design-image
                          img(src="img/project-33.jpg", alt="")
                        .design-image
                          img(src="img/project-34.jpg", alt="")
                    .projects-all__about
                      .about-certificate
                        img(src="img/project-35.jpg", alt="")
                      .about-item
                        .about-item__caption
                          img(src="img/project-36.png", alt="")
                          h2 ВИРОБНИЦТВО
                        .about-item__list
                          ul
                            li Виготовлення елементів інтер'єрів ПС
                            li Виготовлення меблів для ПС
                            li Виготовлення елементів інтер'єрів для морських суден
                            li Виготовлення суднових меблів
                            li Ремонт та сервісне обслуговування елементів авіаційних інтер'єрів
                            li Ремонт та сервісне обслуговування елементів інтер'єрів для морських суден
                            li Виготовлення виробів із термопластичних матеріалів
                            li Виготовлення виробів із склопластику
                            li Виготовлення оснастки для термовакуумного формування
                            li Виготовлення меблів для рестранів та кафе
                            li Виготовлення меблів для квартир
                            li Виготовлення меблів для кабінетів керівників
                            li Тюнінг салонів автомобілів
                      .about-item
                        .about-item__caption
                          img(src="img/project-37.png", alt="")
                          h2 МЕДІА-ПРОЕКТИ
                        .about-item__list
                          ul
                            li Візуалізація виробничих процесів
                            li Архітектурна та інтер'єрна візуалізація
                            li Виробництво технічних та навчальних відеофільмів
                            li Виробництво мультимедійних презентацій

              //Technics-twelve
              section.technics-twelve
                .container
                  .technics-all
                    .technics-all__design
                      .design-wrapper
                        .design-image
                          img(src="img/project-38.jpg", alt="")
                        .design-image
                          img(src="img/project-39.jpg", alt="")
                        .design-image
                          img(src="img/project-40.jpg", alt="")
                      h1.section-title Виготовлення <br> елементів <br> інтер'єрів ПС

              //Technics-thirteen
              section.technics-thirteen
                .container
                  .technics-all
                    .technics-all__design
                      h1.section-title Виготовлення <br> елементів <br> інтер'єрів <br> для <br> морських суден
                      .design-wrapper
                        .design-image
                          img(src="img/project-41.jpg", alt="")
                        .design-image
                          img(src="img/project-42.jpg", alt="")
                        .design-image
                          img(src="img/project-43.jpg", alt="")

              //Technics-fourteen
              section.technics-fourteen
                .container
                  .technics-all
                    .technics-all__item
                      h1.section-title Виготовлення меблів для ПС
                      .design-wrapper
                        .design-image
                          img(src="img/project-44.jpg", alt="")
                        .design-image
                          img(src="img/project-45.jpg", alt="")
                    .technics-all__item
                      h1.section-title Виготовлення суднових меблів
                      .design-wrapper
                        .design-image
                          img(src="img/project-46.jpg", alt="")
                        .design-image
                          img(src="img/project-47.jpg", alt="")

              //Technics-fifteen
              section.technics-fifteen
                .container
                  .technics-all
                    .technics-all__design
                      h1.section-title Ремонт та сервісне <br> обслуговування елементів <br> авіаційних інтер'єрів <br> та інтер'єрів <br> для морських суден
                      .design-wrapper
                        .design-image
                          img(src="img/project-48.jpg", alt="")
                        .design-image
                          img(src="img/project-49.jpg", alt="")

              //Technics-sixteen
              section.technics-sixteen
                .container
                  .technics-all
                    .technics-all__design
                      .design-image
                        img(src="img/project-50.jpg", alt="")
                      .design-image
                        img(src="img/project-51.jpg", alt="")
                      .design-image
                        img(src="img/project-52.jpg", alt="")
                    .technics-all__titles
                      h1.section-title Виготовлення виробів <br> із термопластичних <br> матеріалів та виробів <br> із склопластику
                      h1.section-title Виготовлення оснастки <br> для термовакуумного <br> формування

              //Technics-seventeen
              section.technics-seventeen
                .container
                  .technics-all
                    .technics-all__design
                      h1.section-title Розробка <br> дизайн-проектів <br> приміщень
                      .design-wrapper
                        .design-image.image-absolute
                          img(src="img/project-53.jpg", alt="")
                        .design-image.image-absolute
                          img(src="img/project-54.jpg", alt="")
                        .design-image.image-absolute
                          img(src="img/project-55.jpg", alt="")

              //Technics-eighteen
              section.technics-eighteen
                .container
                  .technics-all
                    .technics-all__design
                      .design-images
                        .design-images__wrapper
                          img(src="img/project-56.jpg", alt="")
                          img(src="img/project-57.jpg", alt="")
                        .design-images__wrapper
                          img(src="img/project-58.jpg", alt="")
                          img(src="img/project-59.jpg", alt="")
                      h1.section-title Виготовлення меблів <br> для ресторанів, кафе <br> та квартир

              //Technics-nineteen
              section.technics-nineteen
                .container
                  .technics-all
                    .technics-all__design
                      h1.section-title Тюнінг салонів <br> автомобілів
                      .design-wrapper
                        .design-image
                          img(src="img/project-60.jpg", alt="")
                        .design-image
                          img(src="img/project-61.jpg", alt="")

              //Technics-twenty
              section.technics-twenty
                .container
                  .technics-all
                    .technics-all__design
                      .design-wrapper
                        .design-image
                          img(src="img/project-62.jpg", alt="")
                        .design-image
                          img(src="img/project-63.jpg", alt="")
                        .design-image
                          img(src="img/project-64.jpg", alt="")
                      h1.section-title Візуалізація <br> виробничих <br> процесів

              //Technics-twentyone
              section.technics-twentyone
                .container
                  .technics-all
                    .technics-all__design
                      h1.section-title Архітектурна <br> та інтер'єрна <br> візуалізація
                      .design-wrapper
                        .design-image
                          img(src="img/project-65.jpg", alt="")
                        .design-image
                          img(src="img/project-66.jpg", alt="")

              //Technics-twentytwo
              section.technics-twentytwo
                .container
                  .technics-all
                    .technics-all__design
                      .design-wrapper
                        .design-image
                          img(src="img/project-67.jpg", alt="")
                        .design-image
                          img(src="img/project-68.jpg", alt="")
                      .design-titles
                        h1.section-title Виробництво <br> технічних <br> та навчальних <br> відеофільмів
                        h1.section-title Медіа-проекти

              //Gallery
              section.gallery
                .container
                  .gallery-all
                    .gallery-all__item
                      img(src="img/gallery-1.jpg", alt="")
                    .gallery-all__item
                      img(src="img/gallery-2.jpg", alt="")
                    .gallery-all__item
                      img(src="img/gallery-3.jpg", alt="")
                    .gallery-all__item
                      img(src="img/gallery-4.jpg", alt="")
                    .gallery-all__item
                      img(src="img/gallery-5.jpg", alt="")
                    .gallery-all__item
                      img(src="img/gallery-6.jpg", alt="")
                    .gallery-all__item
                      img(src="img/gallery-7.jpg", alt="")
                    .gallery-all__item
                      img(src="img/gallery-8.jpg", alt="")

            include includes/footer

        include includes/scripts
        script(src="js/activelink.js")