doctype html
html(lang='en')
    include includes/head
    body
        .all
            include includes/header

            include includes/adaptive

            main
              section.templates
                .container
                  .templates-all
                    a(href="/engineering.html").templates-all__item
                      .item-top
                        img(src="img/01-project-works.svg", alt="")
                      .item-back
                        img(src="img/back-1.jpg", alt="")
                      .item-caption
                        .back-one
                        .back-two
                        h1 ПРОЕКТНІ РОБОТИ
                    a(href="/yachts.html").templates-all__item
                      .item-top
                        img(src="img/02-yachts.svg", alt="")
                      .item-back
                        img(src="img/back-2.jpg", alt="")
                      .item-caption
                        .back-one
                        .back-two
                        h1 яхти
                    a(href="/tents.html").templates-all__item
                      .item-top
                        img(src="img/03-tents.svg", alt="")
                      .item-back
                        img(src="img/back-3.jpg", alt="")
                      .item-caption
                        .back-one
                        .back-two
                        h1 тенти і чохли
                    a(href="/aviation.html").templates-all__item
                      .item-top
                        img(src="img/04-aviation.svg", alt="")
                      .item-back
                        img(src="img/back-4.jpg", alt="")
                      .item-caption
                        .back-one
                        .back-two
                        h1 авіація

            include includes/footer

        include includes/scripts
