doctype html
html(lang='en')
    include includes/head
    body
        .all
            include includes/header

            main
              section.services
                .container
                  .services-all
                    .services-all__item
                      .item-top
                        img(src="img/menu-1.png", alt="")
                      .item-back
                        img(src="img/back-1.png", alt="")
                      .item-caption
                        img.back-two(src="img/services-back-2.png", alt="")
                        img.back-one(src="img/services-back-1.png", alt="")
                        h1 ПРОЕКТНІ РОБОТИ
                    .services-all__item
                      .item-top
                        img(src="img/menu-2.png", alt="")
                      .item-back
                        img(src="img/back-2.png", alt="")
                      .item-caption
                        img.back-two(src="img/services-back-2.png", alt="")
                        img.back-one(src="img/services-back-1.png", alt="")
                        h1 яхти
                    .services-all__item
                      .item-top
                        img(src="img/menu-3.png", alt="")
                      .item-back
                        img(src="img/back-3.png", alt="")
                      .item-caption
                        img.back-two(src="img/services-back-2.png", alt="")
                        img.back-one(src="img/services-back-1.png", alt="")
                        h1 тенти і чохли
                    .services-all__item
                      .item-top
                        img(src="img/menu-4.png", alt="")
                      .item-back
                        img(src="img/back-4.png", alt="")
                      .item-caption
                        img.back-two(src="img/services-back-2.png", alt="")
                        img.back-one(src="img/services-back-1.png", alt="")
                        h1 авіація

            include includes/footer

        include includes/scripts
