doctype html
html(lang='en')
    include includes/head
    link(rel='stylesheet', href='css/tents.min.css')
    body
        .all
            include includes/header

            include includes/adaptive

            main
              //Services
              section.services
                .container
                  .services-all
                    .services-all__caption
                      h1.main-title ТЕНТИ І ЧОХЛИ
                      p.
                        Наша компанія має більш ніж 20-річний досвід з проектування та виготовлення інтер'єрів та екстер'єрів для яхт та катерів. <br>
                        Ми надаємо послуги з ремонту, спеціалізуючись на виготовленні на замовлення меблів, оббивки, чохлів, предметів інтер'єру та дизайну.
                    .services-all__main
                      h1.section-title Наші основні послуги
                      .services-list
                        .services-list__item.item-one
                          h3 Послуги для яхт
                          p Ми спеціалізуємося на виготовленні меблів, м'яких меблів для яхт, пропонуючи різні якісні рішення за вашими специфікаціями.
                        .services-list__item.item-other
                          img(src="img/services_1.jpg", alt="")
                        .services-list__item.item-three
                          h3 Послуги для катерів
                          p Ми спеціалізуємося на перетяжці та оновленні крісел та диванів, виготовленні меблів, оновленні кают та палуб за індивідуальним проектом. Займаємося розробкою та виготовленням тентів та чохлів за індивідуальним замовленням.
                        .services-list__item.item-other
                          img(src="img/services_2.jpg", alt="")
                        .services-list__item.item-other
                          img(src="img/services_3.jpg", alt="")
                        .services-list__item.item-six
                          h3 Послуги для авто
                          p Ми спеціалізуємося на перетяжці та оновлення крісел, диванів, виготовленні меблів, оновленні салонів авто за індивідуальним проектом.
                        .services-list__item.item-other
                          img(src="img/services_4.jpg", alt="")
                        .services-list__item.item-eight
                          p Ми пропонуємо великий досвід управління проектами та створення гармонійних просторів для інтер'єрів та екстер'єрів, включаючи автомобілі, катери, яхти, вертольоти та літаки.
                    .services-all__yachts
                      .yachts-desc
                        .yachts-desc__about
                          .about-caption
                            h1.section-title Послуги для яхт
                            img(src="img/services_icon.png", alt="")
                          p Професійна команда дизайнерів та конструкторів дає можливість брати участь у проектах з розробки та реконструкції приміщень на судах різного розміру та значення в індустрії морського туризму.
                        .yachts-desc__images
                          img(src="img/services_5.jpg", alt="")
                          img(src="img/services_6.jpg", alt="")
                      .yachts-images
                        img(src="img/services_7.jpg", alt="")
                        img(src="img/services_8.jpg", alt="")
                        img(src="img/services_9.jpg", alt="")
                      .yachts-gallery
                        img(src="img/services_10.jpg", alt="")
                        img(src="img/services_11.jpg", alt="")
                        img(src="img/services_12.jpg", alt="")
                        img(src="img/services_13.jpg", alt="")

              //Furniture
              section.furniture
                .container
                  .furniture-all
                    .furniture-all__desc
                      p Ми спеціалізуємося на проектуванні та виготовленні приміщень, інтер'єрів та суднових меблів.
                      p Виконуємо відновлювальний, капітальний ремонт та сервісне обслуговування приміщень та меблів.
                    .furniture-all__image
                      img(src="img/services_14.png", alt="")

              //Gallery
              section.gallery
                .container
                  .gallery-all
                    .gallery-all__item
                      img(src="img/services_15.jpg", alt="")
                    .gallery-all__item
                      img(src="img/services_16.jpg", alt="")
                    .gallery-all__item
                      img(src="img/services_17.jpg", alt="")
                    .gallery-all__item
                      img(src="img/services_18.jpg", alt="")
                    .gallery-all__item
                      img(src="img/services_19.jpg", alt="")
                    .gallery-all__item
                      img(src="img/services_20.jpg", alt="")

              //Role
              section.role
                .container
                  .role-all
                    .role-all__images
                      .design-image
                        img(src="img/services_21.jpg", alt="")
                      .design-image
                        img(src="img/services_22.jpg", alt="")
                      .design-image
                        img(src="img/services_23.jpg", alt="")
                    .role-all__desc
                      p Ми бачимо свою роль у тому, щоб реалізувати ваше бачення максимально елегантно, практично та економічно ефективно.

              //boats
              section.boats
                .container
                  .boats-all
                    .boats-all__gallery
                      img(src="img/services_24.jpg", alt="")
                      img(src="img/services_25.jpg", alt="")
                      img(src="img/services_26.jpg", alt="")
                      img(src="img/services_27.jpg", alt="")
                      img(src="img/services_28.jpg", alt="")
                      img(src="img/services_29.jpg", alt="")
                    .boats-all__desc
                      .desc-about
                        .about-caption
                          h1.section-title Послуги для катерів
                          img(src="img/services_icon_2.png", alt="")
                        p Ми працюємо з великим вибором тканин, шкіри та інших матеріалів для перетяжки крісел, диванів, виготовлення меблів для кают та палуб. Наша мета полягає в тому, щоб втілити в життя те бачення, яке ви уявляли собі, і той комфорт, який ви хотіли.
                        .about-back
                          img(src="img/services_31.jpg", alt="")
                      .desc__image
                        img(src="img/services_30.jpg", alt="")
                    .boats-all__parts
                      .design-image
                        img(src="img/services_32.png", alt="")
                      .design-image
                        img(src="img/services_33.png", alt="")
                      .design-image
                        img(src="img/services_34.png", alt="")
                      .design-image
                        img(src="img/services_35.png", alt="")
                    .boats-all__images
                        img(src="img/services_36.jpg", alt="")
                        img(src="img/services_37.jpg", alt="")
                        img(src="img/services_38.jpg", alt="")
                        img(src="img/services_39.jpg", alt="")

              //Description
              section.description
                .container
                  .description-all
                    .description-all__about
                      .about-desc
                        p Ми будемо працювати з вами на кожному етапі виконання проекту, тому ви завжди знатимете, що ваш проект буде завершено саме так, як ви собі уявляли.
                      .about-wrapper
                        img(src="img/services_40.png", alt="")
                        img(src="img/services_41.png", alt="")
                    .description-all__images
                      img(src="img/services_42.jpg", alt="")
                      img(src="img/services_43.jpg", alt="")
                      img(src="img/services_44.jpg", alt="")

              //Chairs
              section.chairs
                .container
                  .chairs-all
                    .chairs-all__item
                      img(src="img/services_45.png", alt="")
                    .chairs-all__item
                      img(src="img/services_46.jpg", alt="")
                    .chairs-all__item
                      img(src="img/services_47.jpg", alt="")
                    .chairs-all__item
                      img(src="img/services_48.jpg", alt="")
                    .chairs-all__item
                      img(src="img/services_49.jpg", alt="")

              //Auto
              section.auto
                .container
                  .auto-all
                    .auto-all__desc
                      .desc-about
                        .about-caption
                          h1.section-title Послуги для авто
                          img(src="img/services_icon_3.png", alt="")
                        p Поєднання багаторічних традицій ручного виготовлення м'яких меблів та сучасних високоякісних матеріалів дозволяє здійснити будь-які задуми індивідуальних проектів в ексклюзивному виконанні.
                      .desc-image
                        img(src="img/services_50.jpg", alt="")
                    .auto-all__images
                        img(src="img/services_51.jpg", alt="")
                        img(src="img/services_52.jpg", alt="")
                        img(src="img/services_53.jpg", alt="")
                        img(src="img/services_54.jpg", alt="")

              //Gallery
              section.gallery
                .container
                  .gallery-all
                    .gallery-all__item
                      img(src="img/services_55.jpg", alt="")
                    .gallery-all__item
                      img(src="img/services_56.jpg", alt="")
                    .gallery-all__item
                      img(src="img/services_57.jpg", alt="")
                    .gallery-all__item
                      img(src="img/services_58.jpg", alt="")
                    .gallery-all__item
                      img(src="img/services_59.jpg", alt="")
                    .gallery-all__item
                      img(src="img/services_60.jpg", alt="")
                    .gallery-all__item
                      img(src="img/services_61.jpg", alt="")

              //Tents
              section.tents
                .container
                  .tents-all
                    .tents-all__caption
                      h1.section-title Тенти <br> та чохли
                      img(src="img/services_icon_4.png", alt="")
                    .tents-all__images
                      img(src="img/services_62.jpg", alt="")
                      img(src="img/services_63.jpg", alt="")
                      img(src="img/services_64.jpg", alt="")
                      img(src="img/services_65.jpg", alt="")

              //Varia
              section.varia
                .container
                  .varia-all
                    .varia-all__images
                      img(src="img/services_66.jpg", alt="")
                      img(src="img/services_67.jpg", alt="")
                      img(src="img/services_68.jpg", alt="")
                    .varia-all__desc
                      .desc-about
                        .about-caption
                          h1.section-title Різне
                          img(src="img/services_icon_5.png", alt="")
                        p Ми запрошуємо вас ознайомитися з нашими послугами, які демонструють нашу майстерність у галузі оббивки та декорування.
                      .desc-images
                        img(src="img/services_69.jpg", alt="")
                        img(src="img/services_70.jpg", alt="")
                    .varia-all__gallery
                      img(src="img/services_71.jpg", alt="")
                      img(src="img/services_72.jpg", alt="")
                      img(src="img/services_73.jpg", alt="")
                      img(src="img/services_74.jpg", alt="")
                      img(src="img/services_75.jpg", alt="")
                      img(src="img/services_76.jpg", alt="")
                      img(src="img/services_77.jpg", alt="")


            include includes/footer

        include includes/scripts
        script(src="js/activelink.js")