doctype html
html(lang='en')
    include includes/head
    link(rel='stylesheet', href='css/yachts.min.css')
    body
        .all
            include includes/header

            include includes/adaptive

            #button
              img(src="img/arrow-white.svg", alt="")

            main
              //Yachts
              section.yachts
                .container
                  .yachts-all
                    h1.main-title ЯХТИ
                    .yachts-all__projects
                      .design-image
                        img(src="img/back-2.jpg", alt="")
                      .block
                        .block-item
                          h1.block-title дизайн
                          ul
                            li Розробка планувань
                            li Архітектурний та інтер'єрний дизайн
                        .block-item
                          h1.block-title ІНЖИНІРИНГ
                          ul
                            li Проектування модульних приміщень
                            li Проектування елементів інтер'єрів для кораблів
                            li Проектування суднових меблів
                            li Виконання розрахунків на міцність
                            li Розробка та оформлення технічної документації
                        .block-item
                          h1.block-title МЕДІА-ПРОЕКТИ
                          ul
                            li Розробка мультимедійних презентацій
                            li Архітектурна та інтер'єрна візуалізація
                            li Виробництво технічних та навчальних відеофільмів
                      .block
                        .block-item
                          h1.block-title ВИРОБНИЦТВО
                          ul
                            li Виготовлення модульних приміщень
                            li Виготовлення елементів інтер'єрів для кораблів
                            li Виготовлення суднових меблів
                            li Виготовлення облицювальних панелей з стільниковим заповнювачем
                        .block-item
                          h1.block-title РЕМОНТ <br> І СЕРВІСНЕ ОБСЛУГОВУВАННЯ
                          ul
                            li Ремонт та сервісне обслуговування
                            li Відновлювальний та капітальний ремонт приміщень та суднових меблів
                    .yachts-all__pros
                      .pros-list
                        h1.section-title Теплохід "Піцунда"
                        ul
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Розробка дизайну рубки
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Розробка дизайну службових приміщень та кают
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Виготовлення інтер'єру в рубці
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Виготовлення інтер'єру службових приміщень та кают
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Виготовлення меблів у каютах
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Виготовлення м'яких меблів
                      .pros-image
                        img(src="img/pros-1.jpg", alt="")
                    .yachts-all__images
                      .design-image
                        img(src="img/pros-2.jpg", alt="")
                      .design-image.image-absolute-one
                        img(src="img/pros-3.jpg", alt="")
                      .design-image.image-absolute-two
                        img(src="img/pros-4.jpg", alt="")
                      .design-image.image-absolute-three
                        img(src="img/pros-5.jpg", alt="")

              //Yachts-two
              section.yachts-two
                .container
                  .yachts-all
                    .yachts-all__pros
                      .pros-list
                        h1.section-title Моторна яхта "Dream On"
                        ul
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Відновлення декоративного покриття на елементах меблів.
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Відновлення декоративного покриття на стінових панелях.
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Виготовлення нових м'якостей та чохлів для диванів та лежаків.
                      .pros-images
                        img(src="img/pros-6.jpg", alt="")
                        img(src="img/pros-7.jpg", alt="")
                    .yachts-all__images
                      .design-image
                        img(src="img/pros-8.png", alt="")
                      .design-image
                        img(src="img/pros-9.jpg", alt="")
                      .design-image
                        img(src="img/pros-10.jpg", alt="")
                      .design-image
                        img(src="img/pros-11.jpg", alt="")

              //Yachts-three
              section.yachts-three
                .container
                  .yachts-all
                    .yachts-all__pros
                      .pros-list
                        h1.section-title Яхта “Alter Ego”
                        ul
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Розробка дизайну приміщень
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Розробка технічної документації
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Виготовлення м'яких меблів
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Виготовлення інтер'єру у житлових каютах
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Виготовлення інтер'єру в рубці
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Виготовлення елементів інтер'єру та м'яких меблів для палуби
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Сервісне обслуговування
                      .pros-image
                        img(src="img/pros-12.jpg", alt="")
                    .yachts-all__images
                      .design-image
                        img(src="img/pros-13.png", alt="")
                      .design-image
                        img(src="img/pros-14.jpg", alt="")
                      .design-image
                        img(src="img/pros-15.jpg", alt="")
                      .design-image
                        img(src="img/pros-16.jpg", alt="")
                      .design-image
                        img(src="img/pros-17.jpg", alt="")
                      .design-image
                        img(src="img/pros-18.jpg", alt="")

              //Yachts-four
              section.yachts-four
                .container
                  .yachts-all
                    .yachts-all__pros
                      .pros-list
                        h1.section-title Моторна яхта “Святий миколай”
                        ul
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Розробка нового дизайну приміщень
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Капітальний ремонт приміщень
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Виготовлення нових меблів
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Облицювання санітарних приміщень натуральним каменем
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Виготовлення м'яких меблів з натуральної шкіри
                      .pros-image
                        img(src="img/pros-19.jpg", alt="")
                    .yachts-all__images
                      .design-image
                        img(src="img/pros-20.png", alt="")
                      .design-image
                        img(src="img/pros-21.jpg", alt="")
                      .design-image
                        img(src="img/pros-22.jpg", alt="")
                      .design-image
                        img(src="img/pros-23.jpg", alt="")
                      .design-image
                        img(src="img/pros-24.jpg", alt="")
                      .design-image
                        img(src="img/pros-25.jpg", alt="")

              //Yachts-five
              section.yachts-five
                .container
                  .yachts-all
                    .yachts-all__pros
                      .pros-list
                        h1.section-title Моторна яхта "Нова"
                        ul
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Розробка дизайну рубки
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Розробка дизайну службових приміщень та кают
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Виготовлення інтер'єру в рубці
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Виготовлення інтер'єру службових приміщень та кают
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Виготовлення меблів у каютах
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Виготовлення м'яких меблів
                      .pros-image
                        img(src="img/pros-26.jpg", alt="")
                    .yachts-all__images
                      .design-image
                        img(src="img/pros-27.png", alt="")
                      .design-image
                        img(src="img/pros-28.jpg", alt="")

              //Yachts-six
              section.yachts-six
                .container
                  .yachts-all
                    .yachts-all__pros
                      .pros-list
                        h1.section-title Проект яхти «Milky Way»
                        ul
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Виготовлення інтер'єру
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Виготовлення м'яких меблів
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Виготовлення корпусу
                          li
                            img(src="img/arrow-blue.svg", alt="")
                            span Настил палуби з тику
                      .pros-image
                        img(src="img/pros-29.jpg", alt="")
                    .yachts-all__images
                      .design-image
                        img(src="img/pros-30.jpg", alt="")
                      .design-image
                        img(src="img/pros-31.jpg", alt="")
                      .design-image
                        img(src="img/pros-32.jpg", alt="")
                      .design-image
                        img(src="img/pros-33.jpg", alt="")

              //Yachts-seven
              section.yachts-seven
                .container
                  .yachts-all
                    h1.section-title Модульні конструкції <br> побутових приміщень
                    .yachts-all__images
                      .wrapper-one
                        .design-image
                          img(src="img/pros-34.jpg", alt="")
                        .design-image
                          img(src="img/pros-35.jpg", alt="")
                      .wrapper-two
                        .design-image
                          img(src="img/pros-36.jpg", alt="")
                        .design-image
                          img(src="img/pros-37.jpg", alt="")

            include includes/footer

        include includes/scripts
        script(src="js/activelink.js")